.container {
	margin-top: 32px;
}
.title_section {
	margin-bottom: 16px;
}
.work_experience {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	gap: 16px;
}
.work_experience_card {
	display: flex;
	flex-direction: column;
	width: 432px;
	height: 132px;
	gap: 16px;
	padding: 16px;
	border-radius: 12px;
	box-shadow: 2px 2px 8px 2px rgba(0, 0, 0, 0.1);
}
.header {
	display: flex;
	flex-direction: row;
	gap: 16px;
}
.logo {
	border-radius: 8px;
	padding: 8px;
	width: 64px;
	height: 64px;
	background-color: black;
}
.work_name {
	font-weight: 600;
	font-size: 18px;
	margin: 0;
}
.work_title {
	font-weight: 400;
	font-size: 16px;
	margin: 0;
}
.work_date {
	font-weight: 600;
	font-size: 14px;
	text-transform: uppercase;
	padding-top: 16px;
}
.description {
	font-weight: 400;
	font-size: 14px;
	margin: 0;
}
