# See https://help.github.com/articles/ignoring-files/ for more om-om-meg ignoring files.

# dependencies
/node_modules
/studio/node_modules

# testing
/coverage

# next.js
/.next/
/out/

# misc
.DS_Store
*.pem
.idea/
.idea/workspace.xml

# debug
npm-debug.log*

# local env files
.env*.local

# typescript
*.tsbuildinfo
next-env.d.ts

# Env files created by scripts for working locally
.env
.env.local
