@import 'tailwindcss';

@config '../tailwind.config.ts';

@media (prefers-color-scheme: dark) {
	.prose a {
		color: #63b3ed; /* Link color in dark mode */
	}
}

code::before,
code::after {
	content: none;
}

html {
	font-family: var(--font-noto_sans), serif;
}

h1 {
	font-family: var(--font-oswald), serif;
}